@import 'variables.scss';
@import 'media-queries.scss';
@import 'animations.scss';

#products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 2rem;
    margin: 0 auto;
    grid-auto-flow: dense;
}
.product-card_container {
    display: flex;
    border: solid 0.3em white;
    background: white;
    transition: grid-column;
    position: relative;
    .sale-amount {
        position: absolute;
        top: 0.5em;
        left: 0.5em;
        transform: translate(-50%) rotate(-45deg);
        font-size: 1.5em;
    }
}
.product-card_container--expand {
    grid-column: 1/-1;
    animation: drop-down 300ms ease-in-out;
    .product-card {
        min-height: 350px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "image title"
        "image description"
        "image dimensions"
        "image stock"
        "image batteries"
        "image price"
        "image price"
        "image buy-button"
        "image .";
        grid-gap: 0.5em;
        justify-items: stretch;
        align-items: flex-start;
        position: relative;
        .product-card_name {
            margin: 0;
        }
        .product-card_image {
            grid-area: image;
            height: 100% !important;
            max-height: 500px;
            width: 100%;
            margin: 0;
        }
        .product-card_buy-button {
            margin: 0;
        }
        .product-card_close-button {
            display: block;
            position: absolute;
            top: 0;
            right: 5px;
            background: none;
            font-weight: bold;
            font-size: 2em;
            color: $base-c2-light;
        }
        @include tablet {
            display: flex;
            height: auto;
            align-items: stretch;
            justify-content: stretch;
            & > div {
                margin: 0.5em 0;
            }
            .product-card_image {
                max-height: 100vw;
                grid-area: unset;
            }
            .product-card_buy-button {
                padding: 0.5em 0 1em 0;
            }
        }
    }
}
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1.2rem;
    border: 0.2em dashed $base-c1-light;
    padding: 1em;
    width: 100%;
    .product-card_image {
        height: 200px;
        width: 100%;
        margin-bottom: auto;
        position: relative;
        img {
            cursor: pointer;
            transition: height 200ms;
        }
    }
    h3 {
        color: black;
        margin: 0.5em 0;
        cursor: pointer;
        text-decoration: none;
    }
    .product-card_price {
        text-transform: uppercase;
        color: $base-c2;
        &.product-card_price--crossed-out {
            color: red;
            text-decoration: line-through;
        }
        &.product-card_price--current {
            font-size: 1.5em;
        }
    }
    .product-card_buy-button {
        margin-top: 1em;
    }
    .product-card_close-button {
        display: none;
    }
}