@import 'variables.scss';
@import 'media-queries.scss';

.c1-background {
    background: $base-c1;
}
.peppa-background {
    background: url('../images/peppa-pig-background.jpg') center/cover no-repeat;
}

.buy-button {
    background: $base-c1-light;
    border-radius: 0.3em;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    outline: none;
    transition: color 300ms, background-color 300ms;
    &:hover {
        color: $base-c1-light;
        background: $base-c1-dark;
    }
}

.nav-height {    
    height: 4rem;
    @include phone {
        height: 3rem;
    }
}
.sale-amount {
    color: red;
    font-weight: bold;
}