$base-c1: rgb(255, 118, 141);
$base-c1-dark: rgb(170, 63, 81);
$base-c1-light: rgb(253, 171, 185);

$base-c2: #4a5590;
$base-c2-dark: #25265e;
$base-c2-light: #a9b2ff;

$bubblegum-sans: 'Bubblegum Sans', cursive;
$nunito: 'Nunito', sans-serif;