@import 'products.scss';

#index-page {
    padding: 2rem;
    background: #daf8ff;
    #landing {
        img {
            border-radius: 3rem;
            border: solid 0.5rem white;
        }
    }
    h2 {
        color: $base-c2-dark;
        font-size: 3rem;
    }
}