@charset 'utf-8';

@import 'themes.scss';
@import 'variables.scss';

//@import './snipcart/snipcart';
@import 'snipcart-customize.scss';

body {
    font-family: $nunito;
}
h1,h2,h3,h4,h5,h6 {
    font-family: $bubblegum-sans;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}
